/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 1rem 0;
}

h2 {
  color: white;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
}

p {
    font-size: 1.25em;
    opacity: 0;
    animation: fadeInText 2s ease forwards 3s;

  }

/* Opening welcome */
.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* Disable text selection */
}

/* Objects on the page */
main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  user-select: none; /* Disable text selection */
}



@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Gradient changing background */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  transition: background 1s ease-in-out;
}



.fade-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease forwards 5s;
    user-select: none;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 20%;
    left: 10%;
    padding: 1rem;
    width: 10%;
    height: 10%;
    z-index: 1;
 }

 .linked-in-button {
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     animation: fadeIn 2s ease forwards 5s;
     user-select: none;
     transition: background-color 0.3s ease;
     position: fixed;
     top: 20%;
     right: 10%;
     padding: 1rem;
     width: 20%;
     height: 20%;
     z-index: 1;
     wrap-option: wrap;
     border: solid white;
     border-radius: 15px;

 }

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease forwards 5s;
    user-select: none;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: inherit;
    left: inherit;
    padding: 1rem;
    width: auto;
    height: auto;
    z-index: 1;
    wrap-option: wrap;
    border: solid white;
    border-radius: 15px;
}



/* Hover effect to change background color of text */
.fade-in-button:hover {
  color: peachpuff;
}
.linked-in-button:hover {
  color: peachpuff;
}
.contact-button:hover {
    color:peachpuff;
}
/* Enjoy text dropdown animation */
@keyframes dropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Contact button text animation from bottom */
@keyframes dropUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-text {
  display: inline-block;
  opacity: 0; /* Hidden initially */
}

.animated-text.drop-down {
  animation: dropDown 0.3s forwards;
}

.animated-text.drop-up {
  animation: dropUp 0.3s forwards;
}

/* Additional CSS Variable for animation duration */
:root {
  --animation-duration: 0.1s; /* Default animation delay for each letter */
}

/* Button hover transition for smooth scaling */
#github, #linkedin {
  transition: transform 0.2s ease-in-out;
}

